# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#exclude node_modules
**/node_modules

#=====FRONT END FOLDER=====
# dependencies
frontend/.pnp
frontend/.pnp.js


# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

#=====BACK END FOLDER=====
#backend folder
backend/node_modules
backend/build
backend/npm-debug.log
backend/.nyc
backend/.env
backend/.DS_Store

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

